:root {
  --main-bg-color: white;
  --main-grey: rgb(69, 69, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-color: rgb(24, 24, 24);
  width: 100%;
  font-family: sans-serif;
}

section,
header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  height: 0;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header div > .nav-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--main-grey);
  text-decoration: none;
  color: white;
}
header .nav-item:hover {
  background-color: rgba(52, 71, 124, 0.89);
}

nav {
  background-color: rgb(69, 69, 77);
  color: white;
}
nav div,
nav ul {
  height: 100%;
}

nav .nav-item{
  height: 100%;
}
#hero-section {
  background-color: white;
  padding-top: 6rem;
  height: fit-content;
}
#video {
  max-width: 100%;
  height: 100%;
}
#options {
  background: linear-gradient(
    137.42deg,
    #1a75ff 0%,
    #6a5df8 50.43%,
    #c957e6 100%
  );
  color: white;
  padding: 3% 5%;
  min-height: 2000px;
}
@media (min-width: 768px) {
  #navbarSupportedContent{
    align-items: flex-end;
    justify-content: flex-end;
  }
  :is(ul,.navbar-nav){
  /*  justify-content: space-around;*/
    
  }
  nav div, #navbarSupportedContent{
    height: 100%;
  }

  .navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 3rem;
  }

  .nav-item{
    padding: 0 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item a{

  }
}
